


<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Angular</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="auth">Authentification</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="appareils">appareils</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
     
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect >Connexion: {{ seconde }}</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->
<div class="container">
  <div class="row">
      <router-outlet></router-outlet>
  </div>
</div>
